<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaozhuo.rxjava2demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ryanhuen.rxjava2demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ryanhuen.rxjava2demo.base.BaseImplActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.base.LineHandleActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.base.DisposeInProcessActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.base.JustEmitterActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.thread_control.DefaultThreadActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.thread_control.ChangeThreadActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.thread_control.MultiThreadChangeActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.operators.MapOperatorActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.operators.FlatMapOperatorActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.operators.ConcatMapOperatorActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.operators.ZipOperatorActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.flowable.UnlimitPostActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.flowable.BaseFlowableActivity" />
        <activity android:name="com.ryanhuen.rxjava2demo.usebus.UseBusActivity"></activity>
    </application>

</manifest>